<div class="container">
    <div class="row">
        <div class="col-md-12 well">
            Col-12
        </div>
        <div class="col-md-1 well">
            Col-1
        </div>
        <div class="col-md-11 well">
            Col-11
        </div>
        <div class="col-md-2 well">
            Col-2
        </div>
        <div class="col-md-10 well">
            Col-10
        </div>
        <div class="col-md-6 well">
            Col-6
        </div>
        <div class="col-md-6 well">
            Col-6
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 well">
            Col-12
        </div>
        <div class="col-md-1 well">
            Col-1
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 well">
            Col-12
        </div>
        <div class="col-md-1 well">
            Col-1
        </div>
        <div class="col-md-6 well">
            Col-1
        </div>
    </div>
</div>