<div class="container">
    <div class="row well" >
        <h1 class="text-center page-header text-primary">Anchor Information</h1>
        <a href="#" class="btn btn-primary">primary</a>
        <a href="#" class="btn btn-default">default</a>
        <a href="#" class="btn btn-danger">danger</a>
        <a href="#" class="btn btn-Success">Success</a>
        <a href="#" class="btn btn-info">info</a>
        <a href="#" class="btn btn-warning">warning</a>
        <a href="#" class="btn btn-link">link</a>
    </div>
    <div class="row well" >
        <h1 class="text-center page-header text-primary">Button Information</h1>
        <button class="btn btn-primary btn-lg">primary</button>
        <button class="btn btn-default">default</button>
        <a href="#" class="btn btn-danger">danger</a>
        <a href="#" class="btn btn-Success">Success</a>
        <a href="#" class="btn btn-info">info</a>
        <a href="#" class="btn btn-warning">warning</a>
        <a href="#" class="btn btn-link">link</a>
    </div>
    <div class="row well col-md-6" >
        <button class="btn btn-default btn-block">default</button>
    </div>
</div>