<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <ol>
       <li>add a button which says 'Display details'</li>
       <li>add a paragraph with any contect of your choice</li>
       <li>toggle the display of that paragraph with the button created in the first step</li>
       <li>starting at the 5th log item ,give all future log items a blue background </li>
     </ol>
     <hr>
      <button 
      class="btn btn-primay" (click)="showSecret = !showSecret">Display details</button>
      <p *ngIf="showSecret">secret password = tuna</p>
      

      

    </div>
  </div>
</div>
